<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-packernix-index") %>>
          <a href="/docs/providers/packernix/index.html">Packer Nix Provider</a>
        </li>
        <li<%= sidebar_current("docs-packernix-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-packernix-datasource-build") %>>
              <a href="/docs/providers/packernix/d/build.html">packernix_build</a>
            </li>
            <li<%= sidebar_current("docs-packernix-datasource-const") %>>
              <a href="/docs/providers/packernix/d/const.html">packernix_const</a>
            </li>
            <li<%= sidebar_current("docs-packernix-datasource-eval") %>>
              <a href="/docs/providers/packernix/d/eval.html">packernix_eval</a>
            </li>
            <li<%= sidebar_current("docs-packernix-datasource-external") %>>
              <a href="/docs/providers/packernix/d/external.html">packernix_external</a>
            </li>
            <li<%= sidebar_current("docs-packernix-datasource-os") %>>
              <a href="/docs/providers/packernix/d/os.html">packernix_os</a>
            </li>

          </ul>
        </li>
        <li<%= sidebar_current("docs-packernix-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-packernix-resource-external") %>>
              <a href="/docs/providers/packernix/r/external.html">packernix_external</a>
            </li>
            <li<%= sidebar_current("docs-packernix-resource-image") %>>
              <a href="/docs/providers/packernix/r/image.html">packernix_image</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
